{% extends "WebBundle::layout.html.twig" %}
{% set subtitle =  "Política de privacidade" %}
{% set og_description =  "Política de privacidade" %}
{% set og_type =  "null" %}
{% set og_image =  "null" %}
{% set keywords =  "null" %}
{% block title %}Política de privacidade{% endblock %}
{% block body %}
	<div class="row content-section">
		<div class="col-sm-12 col-md-12 ">
			{{setting.privacypolicy|raw}}
		</div>
	</div>
{% endblock %}